html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

:root {
  --black: #333;
  --light-grey: #E7E5EB;
  --txt_grey: #B0B0B0;
  --grey: #d8d6dc;
  --firm: #9873FF;
  --red: #F06A4D;
  --orange: #E6B127;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #F5F5F5;
}

.header {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #FFF;
  display: flex;
  align-items: center
}

.header__logo {
  display: block;
  margin-right: 50px;
}

.filter__input {
  width: 581px;
  min-height: 44px;
}

.filter__input:focus {
  outline: 1px solid var(--firm);
}

.title {
  margin: 0;
  margin-bottom: 20px;
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

/* Для индикатора загрузки */
.loader {
  display: block;
  position: absolute;
  top: 50%;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 7px solid var(--firm);
  border-right-color: transparent;
  animation: move 1s linear infinite;
}

@keyframes move {
  to {
    transform: rotate(360deg);
  }
}

.visually-hidden {
  visibility: hidden;
}


/* Кнопки */

.btn {
  margin: 0;
  padding: 12.5px 26.5px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  position: relative;
}

.add-contact-btn {
  background-image: url(../img/add-contact-btn-1.svg);
  background-position: 7px 12px;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out;
}

.add-contact-btn:hover {
  color: var(--firm);
  background-image: url(../img/add-contact-btn-2.svg);
}

.add-client-btn,
.client-btn {
  color: var(--firm);
  border: 1px solid var(--firm);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.add-client-btn svg {
  margin-right: 2px;
}

.add-client-btn path {
  transition: fill 0.3s ease-in-out;
}

.add-client-btn:hover,
.client-btn:hover {
  background-color: #B89EFF;
  color: #FFF;
}

.add-client-btn:hover path {
  fill: #FFF;
}

.add-client-btn:active,
.client-btn:active {
  background-color: #8052FF;
}

.client-btn {
  width: fit-content;
  padding: 12.5px 35px;
  color: #FFF;
  background-color: var(--firm);
}

.delete-btn,
.cancel-btn {
  font-weight: 400;
  padding: 5px 20px;
  text-decoration: underline;
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
}

.btn-change {
  background-image: url(../img/btn-change.svg);
  background-position: 10px 13px;
  background-repeat: no-repeat;
  transition: color 0.3s ease-in-out;
}

.btn-change:hover {
  color: var(--firm);
}

.btn-reset {
  background-image: url(../img/btn-reset.svg);
  background-position: 10px 13px;
  background-repeat: no-repeat;
  transition: color 0.3s ease-in-out;
}

.btn-reset:hover {
  color: var(--red);
}

.delete-contact-btn {
  position: relative;
  width: 38px;
  height: 38px;
  cursor: pointer;
  border: 1px solid var(--grey);
  background-color: var(--grey);
  background-image: url(../img/delete-contact-btn-1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 0.3s ease-in-out, border 0.3s ease-in-out;
}

.delete-contact-btn:hover {
  background-image: url(../img/delete-contact-btn-2.svg);
  border: 1px solid var(--red);
}

.delete-contact-btn::before {
  content: attr(tooltip);
  position: absolute;
  color: white;
  padding: 7px 12px;
  background-color: var(--black);
  width: 140px;
  min-height: 30px;
  font-size: 12px;
  transform: translateX(-50%);
  bottom: 100%;
  transition: inherit;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
}

.delete-contact-btn:hover::before {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  bottom: calc(100% + 10px);
}

.btn-modal-reset {
  position: absolute;
  padding: 0;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  background-image: url(../img/btn-modal-reset.svg);
  background-repeat: no-repeat;
}

/* Модальные окна */

.modal__parent {
  position: fixed;
  inset: 0;
  z-index: 500;
  display: flex;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .8);
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.modal__wrapper {
  margin: auto;
  max-width: 800px;
  min-height: 400px;
}

.form {
  position: relative;
  margin: 30px 0;
  width: 100%;
  padding: 25px 30px;
  border-radius: 0;
  background-color: #fff;
}

.modal__title {
  margin: 0;
  margin-bottom: 15px;
  text-align: left;
  color: var(--black);
}

.modal__title-bold {
  font-size: 18px;
  font-weight: 800;
  margin-right: 5px;
}

.modal__title--delate {
  text-align: center;
}

.filter {
  margin: 10px;
}

.form__input-wapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 26px;
}

.form__field {
  width: 100%;
}

.form__text {
  display: block;
  margin-bottom: 3px;
  text-align: left;
  color: var(--txt_grey);
}

.form__text .star {
  color: var(--firm);
}

.form__input {
  width: 500px;
  height: 30px;
  border: 0;
  border-bottom: 1px solid var(--txt_grey);
}

.form__input:focus {
  outline: 2px dashed #075e07;
}

.form__add-contact {
  width: 100%;
  margin-bottom: 25px;
  background-color: var(--light-grey);
}

.form__btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-massage {
  margin: 0;
  margin-bottom: 25px;
}

.eror {
  outline: 2px dashed #ac0000;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 35%;
  left: 80%;
  width: 8px;
  height: 8px;
  z-index: 1;
  border: 1px solid var(--firm);
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
  pointer-events: none;
}

.select-wrapper.is-open::after {
  transform: rotate(135deg);
}

.contacts {
  display: flex;
  margin-bottom: 15px;
  border: 1px solid var(--grey);
}

.js-choice {
  font-size: 14px;
  padding: 10px;
  margin: 0;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid var(--txt_grey);
  background-color: var(--grey);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.option-contact {
  border-radius: 0;
  font-size: 14px;
  background-color: var(--light-grey);
  transition: background-color 0.3s ease-in-out;
}

.input-contact {
  padding: 5px;
  width: 352px;
  height: 38px;
  outline: none;
  background-color: var(--light-grey);
  border: 0;
}

.choices[data-type*=select-one]::after {
  display: none;
}

.choices__inner {
  border: none;
  border-radius: 0;
  width: 120px;
  min-height: 37px;
  background-color: var(--grey);
}

.error .form__field {
  border-color: red;
}

.error-label {
  display: block;
  color: red;
  margin-bottom: 10px;
}

/* Таблица */

table {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
}

.table__date {
  margin-right: 5px;
}

.table__cell,
th {
  text-align: left;
  padding: 5px 5px;
  color: var(--black);
}

th {
  border-collapse: collapse;
  font-weight: 400;
  cursor: pointer;
}

.tbody {
  width: 100%;
  min-height: 300px;
  background-color: #FFF;
}

.table-text {
  font-size: 14px;
  color: var(--txt_grey);
}

.span-text {
  display: inline-block;
}

.add-box {
  margin-bottom: 20px;
}

.table__sort {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.sort-123 {
  background-image: url(../img/sort-123.svg);
}

.sort-321 {
  background-image: url(../img/sort-321.svg);
}

.sortA-123 {
  background-image: url(../img/sortA-123.svg);
}

.sortA-321 {
  background-image: url(../img/sortA-321.svg);
}

/* иконки для контактов */
.contacts__box-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 100px;
}

.contacts__box-item--wrap {
  flex-wrap: wrap;
}

.contacts__item {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-bottom: 4px;
  opacity: .8;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}

.contacts__item:hover {
  opacity: 1;
}

.contacts__item::before {
  content: attr(tooltip);
  position: absolute;
  color: white;
  padding: 7px 12px;
  background-color: var(--black);
  min-height: 30px;
  font-size: 12px;
  transform: translateX(-50%);
  bottom: 100%;
  transition: inherit;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
}

.contacts__item:hover::before {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  bottom: calc(100% + 10px);
}

.phone {
  background-image: url(../img/phone.svg);
}

.mail {
  background-image: url(../img/mail.svg);
}

.tg {
  background-image: url(../img/tg.svg);
}

.vk {
  background-image: url(../img/vk.svg);
}

.fb {
  background-image: url(../img/fb.svg);
}